.slide_header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 24px;
  gap: 18px;
  z-index: 10;
}

.presentation_container {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  position: relative;
}

.avatar_container {
  max-width: 85.33px;
  height: 32px;
}

.button_style {
  display: none;
  @media (max-width: 1023px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 15;
    background-color: transparent;
  }
}
