.item_container {
  transition: margin-right 50s;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 2px;
  background-color: gray;
  z-index: 15;

  & > .bar_progress {
    content: "";
    background-color: white;
    position: relative;
    height: 100%;
    right: 100%;
  }
  &.is_prev > .bar_progress {
    transition: unset;
    right: 0px;
  }

  &.is_next > .bar_progress {
    transition: unset;
    right: 100%;
  }
}